.map {
		border: 3px solid #999;
		margin: 10px 0 0 20px;
}

.countries {
		fill: none;
		stroke: #CCC;
		stroke-width: 1px;
}

/*who regions*/

.who_regions {
		stroke: #AAA;
		stroke-width: 2px;
		opacity: 0.5;
}

#European {
		fill: #ABADFF;
}

#Western_Pacific {
		fill: #FF8C03;
}

#South_East_Asia {
		fill: #85FF0D;
}

#Eastern_Mediterranean {
		fill: #0AFCD2;
}

#African {
		fill: #FFFF3B;
}

/*trade hubs*/

.tradeHubs {
		pointRadius: 1px;
		fill: #aaa;
		stroke: #222;
}

/*.sphere {
    fill: #fff;
}*/

/*.country-borders {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}*/

.gratBackground {
	fill: #D5E3FF;
}

.gratLines {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}
